@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  padding: 1%;
}

.footer {
  bottom: 80px;
  text-align: center;
  height: 80px;
  display: inline-block;
  background-color: white;
  color: black;
  width: 100%;
}

.pagination {
  margin-right: 10px; 
  margin-left: 10px
}

img {
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#filterform {
  margin-top: 20px;
  margin-bottom: 20px;
}



.display-4{
  text-align: center;
}

.IOT{
  text-align: center;
}

#weather_wrapper{
	width: 400px;
	margin: 10px ;
  position: initial;
  float: inline-start;
}
.weatherCard{
	width: 400px;
	height: 200px;
	font-family: 'Open Sans';
	position: relative;
}
.currentTemp{
	width: 400px;
	height: 200px;
  background: rgb(41, 41, 41);
	position: absolute;
	top: 0;
	left: 0;
}

.hidden {
  background-color: green;
}    .hidden {
  background-color: green;
}

.currentTempLed{
	width: 400px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

.currentWeather{
	width: 180px;
	height: 200px;
	background: rgb(237, 237, 237);
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.temp{
	font-size: 80px;
	text-align: center;
	display: block;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding: 20px 0 0;
}
.location{
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	display: block;
}

